%nav.top-bar{ :'data-topbar' => true, role: 'navigation' }
  %ul.title-area
    %li.name
      %h1
        %a{href: '/'} #{t('.title')}
    %li.toggle-topbar.menu-icon
      %a{href: true}
        %span #{t('.menu')}
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown
          %a{href: '#'} #{current_user.email}
          %ul.dropdown
            %li
              = link_to t('.edit_account'), edit_user_registration_path
            %li
              = link_to t('.log_out'), destroy_user_session_path, method: :delete
      - else
        %li
          = link_to t('.sign_in'), new_user_session_path
        %li
          = link_to t('.register'), new_user_registration_path
    %ul.left
      %li
        = link_to t('.localizations'), localizations_path
      %li
        = link_to t('.applications'), oauth_applications_path
