.small-6.small-offset-3.columns
  %fieldset
    %legend Your Applications
    %table{role: 'grid', summary: 'A list of applications for authentication'}
      %thead
        %tr
          %th Name
          %th Callback URL
          %th
          %th
      %tbody
        - @applications.each do |application|
          %tr{:id => "application_#{application.id}"}
            %td= link_to application.name, [:oauth, application]
            %td= application.redirect_uri
            %td= link_to 'Edit', edit_oauth_application_path(application), class: 'button tiny'
            %td= render 'delete_form', application: application
    %p= link_to 'New Application', new_oauth_application_path, class: 'button tiny success right'
