.small-6.small-offset-3.columns
  %fieldset
    %legend Application #{@application.name}
    .small-8.columns
      %h4 Application Id:
      %p
        %code#application_id= @application.uid
      %h4 Secret:
      %p
        %code#secret= @application.secret
      %h4 Callback urls:
      %table
        - @application.redirect_uri.split.each do |uri|
          %tr
            %td
              %code= uri
            %td
              = link_to 'Authorize', oauth_authorization_path(client_id: @application.uid, redirect_uri: uri, response_type: 'code'), class: 'button tiny success', target: '_blank'
    .small-4.columns
      %h3 Actions
      %ul.button-group
        %li= link_to 'Edit', edit_oauth_application_path(@application), class: 'button tiny'
        %li= render 'delete_form', application: @application, submit_btn_css: 'button tiny alert'
