= form_for [@localization, @locale] do |f|
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :yaml
    = f.text_area :yaml
  .row
    = f.submit t('.submit'), class: 'button tiny success right'
- unless current_page?(:controller => 'locales', :action => 'new')
  = render partial: 'delete_form', locals: {localization: @localization, locale: @locale}
