.small-6.small-offset-3.columns
  %fieldset
    %legend Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .row
        = f.label :email
        = f.email_field :email, autofocus: true
      %div= f.submit "Send me reset password instructions", class: 'button tiny right'
