.small-6.small-offset-3.columns
  %fieldset
    %legend #{t('.editing')} #{@localization.name}

    = form_for @localization, html: {role: 'form'} do |f|
      .row
        = f.label :name
        = f.text_field :name
      .row
        = f.submit t('.submit'), class: 'button tiny success right'
