.small-8.small-offset-2.columns
  %h2 Localizations
  %table
    %thead
      %th ID
      %th Name
      %th Locales
      %th Created
      %th Updated
      %th Actions
    %tbody
      - @localizations.each do |localization|
        %tr
          %td #{localization.id}
          %td
            = link_to localization.name, localization_path(localization)
          %td
            - localization.locales.each do |lo|
              %a{href:'#'}
                #{lo.locale}
          %td #{localization.created_at} by #{localization.owner.email}
          %td #{localization.updated_at}
          %td
            %ul.button-group.stack
              %li
                = link_to 'Edit', edit_localization_path(localization), class: 'button tiny'
              %li
                = render partial: 'delete_form', locals: { localization: localization }


  = link_to 'New Localization', new_localization_path, class: 'button tiny success right'
