.small-6.small-offset-3.columns
  %fieldset
    %legend Localization #{@localization.name}
    .small-8.columns
      %h4 Name:
      %p #{@localization.name}

      %h4 UUID:
      %code #{@localization.uuid}

      %h4 Owner:
      %p #{@localization.owner.email}

      %h4 Created:
      %p #{@localization.created_at}

      %h4 Updated:
      %p #{@localization.updated_at}

    .small-4.columns
      %h4 Actions
      %ul.button-group
        %li
          = link_to 'Edit', edit_localization_path(@localization), class: 'button tiny'
        %li
          = render partial: 'delete_form', locals: { localization: @localization }
